# backend
DATABASE_URL=postgres://cukiller:cukiller@postgres:5432/cukiller
BIND_ADDRESS=0.0.0.0:3000
ADMIN_SECRET=dev-admin-secret
JWT_SECRET=dev-jwt-secret
CORS_ORIGIN=https://cuspy.cu3rd.ru
TELEGRAM_BOT_TOKEN=example:123-abc
PUBLIC_WEBAPP_URL=https://cuspy.cu3rd.ru
S3_ACCESS_KEY=admin
S3_SECRET_KEY=admin
S3_ENDPOINT=http://rustfs:9000

# db
POSTGRES_DB=db
POSTGRES_USER=cukiller
POSTGRES_PASSWORD=password

# frontend
PUBLIC_BACKEND_URL=https://cuspy.cu3rd.ru
PUBLIC_PRODUCTION=true
